.search {
  border-radius: 2px solid black;
  height: 40px;
  font-size: larger;
  font-size: 100;
}
::placeholder {
  color: red;
}
.cardtext {
  text-decoration: none;
  color: #000000;
}
.cardbody {
  text-decoration: none;
}
